@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

@keyframes blink {
  0% {
    color: #22c55e;
  }
  50% {
    color: #15803d;
  }
  100% {
    color: #22c55e;
  }
}

#online {
  animation: blink 2s infinite;
}
